body {
  width: 1440px;
  margin: 0 auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--grey);
}

main {
  flex: 1 1 auto;
}

:root {
  --grey: #f2f2f2;
  --grey-accent: rgba(19, 19, 19, 0.42);
  --grey-neutral: #838383;
  --grey-dark: #333;
  --orange: rgba(255, 107, 0, 1);
  --orange-filter: invert(61%) sepia(79%) saturate(5205%) hue-rotate(2deg) brightness(104%) contrast(106%);
}
